/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <behaviors/rgbled_widget.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define LCSPC LCTRL SPACE
#define RCSPC RCTRL SPACE
#define hA    LGUI A
#define hS    LALT S
#define hD    LSHIFT D
#define hF    LCTRL F
#define hJ    RCTRL J
#define hK    RSHIFT K
#define hL    RALT L
#define hSEMI RGUI SEMI

/ {
    behaviors {

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
            // retro-tap;
        };

        sm: space_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        // swap: swapper {
        //     compatible = "zmk,behavior-tri-state";
        //     label = "SWAPPER";
        //     #binding-cells = <0>;
        //     bindings = <&kt LALT>, <&kp TAB>, <&kt LALT>;
        //     ignored-key-positions = <1>;
        // };

    };

    combos {
        compatible = "zmk,combos";
        combo_esc   { timeout-ms = <50>; key-positions = < 2  3   >; bindings = <&kp ESC    >;               };  // ER
        combo_esc2  { timeout-ms = <50>; key-positions = <11 13   >; bindings = <&kp ESC    >;               };  // SF
        combo_bsp   { timeout-ms = <50>; key-positions = <11 12   >; bindings = <&kp BSPC   >;               };  // SD
        combo_del   { timeout-ms = <50>; key-positions = <11 12 10>; bindings = <&kp DEL    >;               };  // SDF
        combo_ret   { timeout-ms = <50>; key-positions = <12 13   >; bindings = <&kp RET    >;               };  // DF
        combo_cut   { timeout-ms = <50>; key-positions = <20 21   >; bindings = <&kp LC(X)  >;               };  // ZX
        combo_copy  { timeout-ms = <50>; key-positions = <21 22   >; bindings = <&kp LC(INS)>;               };  // XC
        combo_paste { timeout-ms = <50>; key-positions = <22 23   >; bindings = <&kp LS(INS)>;               };  // CV
        combo_home  { timeout-ms = <50>; key-positions = <11 12   >; bindings = <&kp HOME   >; layers = <4>; };  // SD
        combo_end   { timeout-ms = <50>; key-positions = <12 13   >; bindings = <&kp END    >; layers = <4>; };  // DF
        combo_rbkt  { timeout-ms = <50>; key-positions = < 8  9   >; bindings = <&kp RBKT   >;               };  // OP
        combo_lbkt  { timeout-ms = <50>; key-positions = <18 19   >; bindings = <&kp LBKT   >;               };  // L:
        combo_bslh  { timeout-ms = <50>; key-positions = <28 29   >; bindings = <&kp BSLH   >;               };  // >?
    };

    keymap {
        compatible = "zmk,keymap";

        default0 { bindings = <
//╭── 00      ──┬── 01   ──┬── 02      ──┬── 03     ──┬── 04     ──╮                        ╭── 05      ──┬── 06    ──┬── 07    ──┬── 08   ──┬── 09       ──╮
  &kp Q         &kp W      &kp E         &kp R        &kp T                                 &kp Y         &kp U       &kp I       &kp O      &kp P
//├── 10      ──┼── 11   ──┼── 12      ──┼── 13     ──┼── 14     ──┤                        ├── 15      ──┼── 16    ──┼── 17    ──┼── 18   ──┼── 19       ──┤
  &hm hA        &hm hS     &hm hD        &hm hF       &kp G                                 &kp H         &hm hJ      &hm hK      &hm hL     &hm hSEMI
//├── 20      ──┼── 21   ──┼── 22      ──┼── 23     ──┼── 24     ──┼── 38    ──╮            ├── 25      ──┼── 26    ──┼── 27    ──┼── 28   ──┼── 29       ──┤
  &mt LSHFT Z   &kp X      &kp C         &kp V        &kp B        &kp B                    &kp N         &kp M       &kp COMMA   &kp DOT    &mt RSHFT FSLH
//╰──         ──┼──      ──┴── 30      ──┼── 31     ──┼── 32     ──┼── 33    ──┤╭── 34    ──┼── 35      ──┼── 36    ──┼── 37    ──┼──      ──┴──          ──╯
                           &sk LS(LCTRL) &lt 1 CAPS   &lt 4 TAB    &lt 3 SPACE  &lt 3 SPACE &lt 2 SPACE   &sk RSHFT   &sk RCTRL    >; };
//                         ╰──         ──┴──        ──┴──        ──┴──       ──╯╰──       ──┴──         ──┴──       ──┴──       ──╯
        numbers1 { bindings = <
//╭── 00      ──┬── 01     ──┬── 02     ──┬── 03     ──┬── 04      ──╮                        ╭── 05     ──┬── 06    ──┬── 07    ──┬── 08   ──┬── 09     ──╮
  &kp N1        &kp N2       &kp N3       &kp N4       &kp N5                                 &kp N6       &kp N7      &kp N8      &kp N9     &kp N0
//├── 10      ──┼── 11     ──┼── 12     ──┼── 13     ──┼── 14      ──┤                        ├── 15     ──┼── 16    ──┼── 17    ──┼── 18   ──┼── 19     ──┤
  &kp TAB       &bt BT_PRV   &bt BT_NXT   &kp C_VOL_DN &kp C_VOL_UP                           &kp LEFT     &kp DOWN    &kp UP      &kp RIGHT  &kp SQT
//├── 20      ──┼── 21     ──┼── 22     ──┼── 23     ──┼── 24      ──┼── 38    ──╮            ├── 25     ──┼── 26    ──┼── 27    ──┼── 28   ──┼── 29     ──┤
  &kp LSHFT     &bt BT_SEL 0 &bt BT_CLR   &kp C_MUTE   &none         &kp HOME                 &kp HOME     &kp END     &kp PG_UP   &kp PG_DN  &kp RSHFT
//╰──         ──┼──        ──┴── 30     ──┼── 31     ──┼── 32      ──┼── 33    ──┤╭── 34    ──┼── 35     ──┼── 36    ──┼── 37    ──┼──      ──┴──        ──╯
                             &kp LCTRL    &kp LGUI     &kp LALT      &trans       &none       &bootloader  &ind_bat    &ind_con     >; };
//                           ╰──        ──┴──        ──┴──         ──┴──       ──╯╰──       ──┴──        ──┴──       ──┴──       ──╯
        symbols2 { bindings = <
//╭── 00      ──┬── 01     ──┬── 02     ──┬── 03     ──┬── 04      ──╮                        ╭── 05     ──┬── 06    ──┬── 07    ──┬── 08   ──┬── 09     ──╮
  &kp ESC       &kp F1       &kp F2       &kp F3       &kp F4                                 &out OUT_USB &out OUT_BLE &none      &kp EQUAL  &kp MINUS
//├── 10      ──┼── 11     ──┼── 12     ──┼── 13     ──┼── 14      ──┤                        ├── 15     ──┼── 16    ──┼── 17    ──┼── 18   ──┼── 19     ──┤
  &kp CAPS      &kp F5       &kp F6       &kp F7       &kp F8                                 &kp LBKT     &kp RBKT    &none       &kp GRAVE  &kp BSLH
//├── 20      ──┼── 21     ──┼── 22     ──┼── 23     ──┼── 24      ──┼── 38    ──╮            ├── 25     ──┼── 26    ──┼── 27    ──┼── 28   ──┼── 29     ──┤
  &kp LSHFT     &kp F9       &kp F10      &kp F11      &kp F12       &none                    &none        &none       &none       &none      &kp RSHFT
//╰──         ──┼──        ──┴── 30     ──┼── 31     ──┼── 32      ──┼── 33    ──┤╭── 34    ──┼── 35     ──┼── 36    ──┼── 37    ──┼──      ──┴──        ──╯
                             &kp LCTRL    &kp LGUI     &kp LALT      &sys_reset   &none       &trans       &kp Q       &kp W        >; };
//                           ╰──        ──┴──        ──┴──         ──┴──       ──╯╰──       ──┴──        ──┴──       ──┴──       ──╯
        layer3Num { bindings = <
//╭─00─       ──┬─01─      ──┬─02─      ──┬─03─      ──┬─04─       ──╮                        ╭─05─      ──┬─06─     ──┬─07─     ──┬─08─    ──┬─09─      ──╮
  &kp GRAVE     &kp N7       &kp N8       &kp N9       &kp DOT                                &trans       &trans      &trans      &trans     &kp PSCRN
//├─10─       ──┼─11─      ──┼─12─      ──┼─13─      ──┼─14─       ──┤                        ├─15─      ──┼─16─     ──┼─17─     ──┼─18─    ──┼─19─      ──┤
  &kp MINUS     &kp N4       &kp N5       &kp N6       &kp N0                                 &trans       &trans      &trans      &trans     &trans
//├─20─       ──┼─21─      ──┼─22─      ──┼─23─      ──┼─24─       ──┼─38─     ──╮            ├─25─      ──┼─26─     ──┼─27─     ──┼─28─    ──┼─29─      ──┤
  &kp EQUAL     &kp N1       &kp N2       &kp N3       &kp APOS      &trans                   &trans       &trans      &trans      &trans     &trans
//╰──         ──┴──        ──┼─30─      ──┼─31─      ──┼─32─       ──┼─33─     ──┤╭─34─     ──┼─35─      ──┼─36─     ──┼─37─     ──┼──      ──┴──        ──╯
                             &trans       &trans       &trans        &trans       &trans      &trans       &trans      &trans       >; };
//                           ╰──        ──┴──        ──┴──         ──┴──       ──╯╰──       ──┴──        ──┴──       ──┴──       ──╯
        layer4Nav { bindings = <
//╭─00─       ──┬─01─      ──┬─02─      ──┬─03─      ──┬─04─       ──╮                        ╭─05─      ──┬─06─     ──┬─07─     ──┬─08─    ──┬─09─      ──╮
  &trans        &trans       &trans       &trans       &kp PG_UP                              &trans       &trans      &trans      &trans     &trans
//├─10─       ──┼─11─      ──┼─12─      ──┼─13─      ──┼─14─       ──┤                        ├─15─      ──┼─16─     ──┼─17─     ──┼─18─    ──┼─19─      ──┤
  &trans        &kp LEFT     &kp UP       &kp RIGHT    &kp PG_DN                              &kp HOME     &kp LEFT    &kp UP      &kp RIGHT  &kp END
//├─20─       ──┼─21─      ──┼─22─      ──┼─23─      ──┼─24─       ──┼─38─     ──╮            ├─25─      ──┼─26─     ──┼─27─     ──┼─28─    ──┼─29─      ──┤
  &trans        &trans       &kp DOWN     &trans       &trans        &trans                   &trans       &trans      &kp DOWN    &trans     &trans
// todo: z шифт при удержании и тогл контролШифт при нажататии
//╰──         ──┴──        ──┼─30─      ──┼─31─      ──┼─32─       ──┼─33─     ──┤╭─34─     ──┼─35─      ──┼─36─     ──┼─37─     ──┼──      ──┴──        ──╯
                             &trans       &trans       &trans        &trans       &trans      &trans       &trans      &trans       >; };
//                           ╰──        ──┴──        ──┴──         ──┴──       ──╯╰──       ──┴──        ──┴──       ──┴──       ──╯
//         layerTemplate { bindings = <
// //╭─00─       ──┬─01─      ──┬─02─      ──┬─03─      ──┬─04─       ──╮                        ╭─05─      ──┬─06─     ──┬─07─     ──┬─08─    ──┬─09─      ──╮
//   &trans        &trans       &trans       &trans       &trans                                 &trans       &trans      &trans      &trans     &trans
// //├─10─       ──┼─11─      ──┼─12─      ──┼─13─      ──┼─14─       ──┤                        ├─15─      ──┼─16─     ──┼─17─     ──┼─18─    ──┼─19─      ──┤
//   &trans        &trans       &trans       &trans       &trans                                 &trans       &trans      &trans      &trans     &trans
// //├─20─       ──┼─21─      ──┼─22─      ──┼─23─      ──┼─24─       ──┼─38─     ──╮            ├─25─      ──┼─26─     ──┼─27─     ──┼─28─    ──┼─29─      ──┤
//   &trans        &trans       &trans       &trans       &trans        &trans                   &trans       &trans      &trans      &trans     &trans
// //╰──         ──┴──        ──┼─30─      ──┼─31─      ──┼─32─       ──┼─33─     ──┤╭─34─     ──┼─35─      ──┼─36─     ──┼─37─     ──┼──      ──┴──        ──╯
//                              &trans       &trans       &trans        &trans       &trans      &trans       &trans      &trans       >; };
// //                           ╰──        ──┴──        ──┴──         ──┴──       ──╯╰──       ──┴──        ──┴──       ──┴──       ──╯

    };
};
